body {
  background-color: lightgrey;
}

.container {
  width: 850px;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: -5%;
  /* height: "1000px"; */
  color: white;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}
h5 {
  font-size: 18px;
  font-weight: 100;
}
h6 {
  font-size: 16px;
  margin-bottom: -35px;
  font-weight: 100;
}

.height {
  height: 960px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
